---
---

@import "{{ site.theme }}";

.menu {
    width: 230px;
    position: fixed;
    top: 220px;
    left: 50%;
    margin-left: -580px;
    text-align: right;
}

nav {
    width: 230px;
    position: fixed;
    top: 420px;
    left: 50%;
    margin-left: -580px;
    text-align: right;
}